{% extends 'furniture_app/base.html'%}
{% block content %}
    <div class="margin-page container px-4">
        <h2>О нас</h2>
        <div class="row g-5 mb-5">
          <div class="col-md-6">
            <div class="p-3 bg-light">
             <p>Производим под заказ с учётом ваших пожеланий (в наличии изделий не бывает). Вы можете заказать как мои авторские изделия, так и сделать заказ, как в обычной столярке, на изготовление тех или иных изделий из дерева по вашим чертежам или фото (подробнее об этом на странице «Как заказать?»). Срок изготовления, возможность и стоимость доставки уточняйте у меня, используя контакты. </p>
            </div>
          </div>

          <div class="col-md-6">
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Item image-->
                    <img class="card-img-top card-img-bottom" src="/media/main_images/room3.jpg" alt="..." />
                </div>
            </div>
          </div>
        </div>

        <div class="container overflow-hidden">
            <h2 class="mb-3">Вопросы и ответы</h2>
            <div class="row g-5 mb-5">
                <div class="col-md-6">
                <p class="h4 mb-3">Как сделать заказ?</p>
                    <div class="p-3 bg-light">
                         <p>Первое, и самое важное, — не надо воспринимать товар на этом сайте как нечто готовое. Всё это образцы, которые давным давно забрали люди.
                            Все заказы эксклюзивные. У меня нет склада с готовой продукцией, потому что я оставляю за вами право внести изменения практически в любой товар.
                            Теперь рассмотрим способы оформления заказа подробнее. </p>
                        <p>Всё действительно просто, если вам подходит товар прямо как на фотографии, прямо как в описании.
                            Вы просто кладете нужные вам товары в корзину и оформляете заказ.</p>
                        <p>Немного сложнее:</p>
                        <p>Допустим, вы хотите купить набор из семи полок. Но набор полок вам нужен глубиной 14, а не 18 см. То есть вам надо написать всего пару предложений на странице с контактами.</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <p class="h4 mb-3">Сотрудничество с дизайнерами интерьера</p>
                    <div class="p-3 bg-light">
                        <p>Здравствуйте, многоуважаемый дизайнер интерьера. Подключайте меня к своим дизайн — проектам, и я с радостью сделаю для вас и вашего объекта качественные изделия</p>
                           <p> — по вашему техническому заданию или чертежам </p>
                           <p> — создам для вашего объекта нечто новое и уникальное из своей головы </p>
                           <p> — сделаю для вашего клиента свои дизайнерские изделия. </p>
                           <p> У нас своя столярная мастерская, оборудованная различными станками и инструментами, все изделия производим качественно и в срок. Обращайтесь заранее, мы не умеем работать в спешке) Столярная мастерская находится в Санкт-Петербурге. </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <p class="h4 mb-3">Оплата</p>
                    <div class="p-3 bg-light">
                        <p>Оплатить заказ можно следующими способами:</p>
                            <p>– Наличными при доставке</p>
                            <p>– Переводом на карту Сбербанк при доставке — рекомендую этот вариант</p>

                           <p> В зависимости от суммы вашего заказа, я запрошу с вас предоплату от 20 до 50%.
                            Остальная часть выплачивается при получении заказа.</p>

                            <p>Для юр. лиц:</p>

                            <p>Я являюсь самозанятым (т. е. работа физлица на себя с постановкой на налоговый учет, но без оформления в качестве индивидуального предпринимателя или частнопрактикующего лица и без привлечения наемных работников) согласно закону «О проведении эксперимента…» от 27.11.2018 № 422-ФЗ, начавшем действовать с 01.01.2019 и установившем режим самозанятости в качестве экспериментального для применения до завершения 2028 года для четырех регионов России (Москвы, Московской и Калужской областей, Республики Татарстан). Распространяется этот документ не только на физлиц, но и на ИП, не имеющих наемных работников.

                            Могу работать как с физ. лицами, так и юр. лицами (Юрлица и ИП, взаимодействующие с самозанятыми, в отношении выплачиваемых им доходов освобождаются от платежей и отчетности по НДФЛ и страховым взносам, однако только при условии получения от самозанятого оформленного по всем правилам чека. И только при наличии этого чека выплаченный самозанятому доход попадет в расходы, учитываемые юрлицом или ИП при формировании налоговой базы по ОСНО, УСН или ЕСХН).</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <p class="h4 mb-3">Доставка</p>
                    <div class="p-3 bg-light">
                        <p>Можно доставить практически любой предмет в другой город. Полки со стеклянными стенками упаковываются в пенопласт, потом вокруг упаковки делается опалубка из деревяшек.</p>
                            <p>Упаковка всех изделий у меня не подарочная, она транспортировочная, мне главное, чтобы изделие доехало до вас целым. Например, какой-нибудь средний гербариум заворачивается в слоев пять пупырки, потом я делаю короб из 5-тислойного гофрокартона, потом опять пупырка, и потом опять картон, потом в стретч + маркировка «Стекло».</p>

                           <p> Самовывоза нет</p>

                           <p> Доставка во все города происходит через СДЭК, до двери или до пункта выдачи.
                            Стоимость доставки по запросу, цена зависит от веса/объёма заказа и конкретного региона.</p>

                            <p>Один раз в 1-2 недели я приезжаю в Москву. Если у вас тяжелый заказ, или слишком хрупкий, или вы слишком не любите СДЭК, то можем договориться о доставке, чтоб я вам привез заказ, без проблем. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
