{% extends 'furniture_app/base.html'%}

{% block select %}
        <div class="select-category container-fluid px-lg-5 btn-group" role="group" aria-label="Basic radio toggle button group">
            {% for c in categories %}
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio{{c.slug}}" autocomplete="off">
                        <label class="btn btn-secondary category-items" for="btnradio{{c.slug}}"><a class="nav-item" href="{{ c.get_absolute_url }}">{{c.name}}</a></label>
                {% endfor %}
        </div>
{% endblock %}

{% block content %}

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-3">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for p in products %}
                    <div class="col mb-2">
                      <div class="card h-100 shadow-sm">
                          {% if p.image %}
                            <a href="{% url 'product' p.slug %}"><img class="card-img-top" src="{{ p.image.url }}" alt="..." /></a>
                          {% endif %}

                        <div class="card-body">
                            <a href="{% url 'product' p.slug %}"><h5 class="fw-bolder">{{p.title}}</h5></a>
                            <p> {{p.price}} ₽</p>
                          <p class="card-text">{{ p.short_description }}</p>
                          <div class="d-flex justify-content-between align-items-center">

                              <button type="button" class="btn btn-sm btn-outline-secondary">
                                  <a class="product-link" href="{% url 'product' p.slug %}">О товаре <i class="bi bi-arrow-right"></i></a>
                              </button>

                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
              </div>
            </div>
        </section>
{% endblock %}
