{% extends 'furniture_app/base.html' %}
{% load static %}

{% block content %}
    <div class="margin-page container content">
        <div class="row">
            {% if products_in_cart %}
                <div class="col-lg-12 col-lg-offset-2 mt-4">
                    <h3 class="text-center">Товары в корзине</h3>
                            {{ request.session.cart.products }}

                    <form class="form-horizontal" method="post">{% csrf_token %}

                        {% if request.user.is_authenticated %}
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label>Имя</label>
                                    <span class="form-error">{{ form.name.errors }}</span>
                                    <input type="text" name="name" class="form-control mt-2"
                                        value="{{user.first_name}}">
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <div class="col-lg-2">
                                    <label>Фамилия</label>
                                    <span class="form-error">{{ form.last_name.errors }}</span>
                                    <input type="text" name="last_name" class="form-control mt-2"
                                        value="{{user.last_name}}">
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <div class="col-lg-2">
                                     <label>Телефон</label>
                                     <span class="form-error">{{ form.phone.errors }}</span>
                                    <input type="text" name="phone" class="form-control mt-2"
                                        value="{{user.username}}">
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label>Имя</label>
                                    <span class="form-error">{{ form.name.errors }}</span>
                                    <input type="text" name="name" class="form-control mt-2"
                                        value="{{ request.POST.name }}">
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <div class="col-lg-2">
                                    <label>Фамилия</label>
                                    <span class="form-error">{{ form.last_name.errors }}</span>
                                    <input type="text" name="last_name" class="form-control mt-2"
                                        value="{{ request.POST.last_name }}">
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <div class="col-lg-2">
                                     <label>Телефон</label>
                                     <span class="form-error">{{ form.phone.errors }}</span>
                                    <input type="text" name="phone" class="form-control mt-2"
                                        value="{{ request.POST.phone }}">
                                </div>
                            </div>
                        {% endif %}

                            <table class="mt-3 table table-success table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Название товара</th>
                                    <th>Количество</th>
                                    <th>Цена за еденицу</th>
                                    <th>Общая цена</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product_in_cart in products_in_cart %}
                                    <tr>
                                        <td>
                                             {{ product_in_cart.product.title }}
                                        </td>
                                        <td>
                                             <input value="{{ product_in_cart.count }}" type="number"
                                                    class="product-in-cart-count form-control" name="product_in_cart_{{ product_in_cart.id }}">
                                        </td>
                                        <td>
                                            <span class="product-price">
                                                {{ product_in_cart.price_per_item}}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="total-product-in-cart-amount">
                                                {{ product_in_cart.total_price }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>



                        <div class="text-right">
                            <b>Сумма заказа: </b> <span id="total_order_amount"></span>
                        </div>

                        <hr>

                        <div class="text-right mb-5">
                            <button type="submit" class="btn btn-primary btn-lg">Заказать</button>
                        </div>

                    </form>
                </div>
            {% else %}
                <div class="empty-cart">
                    <h3 class="text-center">В Вашей корзине нет товаров</h3>
                    <h4 class="text-center">Перейдите на страницу с товарами для оформления заказа</h4>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}