{% extends 'furniture_app/base.html'%}

{% block header %}
        <header class="py-5 ">
<!--            <div class="bg-image">-->
<!--                <img src="media/main_images/index-image.jpg" alt="" class="background">-->
<!--            </div>-->
            <div class="container px-4 px-lg-5 my-5">
                <div class="main-text text-white">
                    <h1 class="display-4 fw-bolder">Консольная мебель</h1>
                    <h3 class="display-5 fw-bolder">в ваш дом</h3>
                        <div class="d-flex">
                            <a class='more-btn' href="{% url 'about' %}">
                                <p class="lead fw-normal text-50 mb-0">Узнать больше
                                    <i class="bi bi-caret-right-fill"></i>
                                </p>
                            </a>
                        </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block content %}
    <div class="our-projects container px-4 px-lg-5 mt-5">
        <h2>Наши проекты</h2>
        <div class="pt-3 row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
            {% for i in project_photo %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Item image-->
                        <img class="card-img-top" src="{{i.image.url}}" alt="..." />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg-light">
        <div class="container px-3 px-lg mt-5">
            <div class="row featurette mt-5">
              <div class="col-md-12 mt-3 mb-3">
                <h2 class="">ДОБРО ПОЖАЛОВАТЬ В МОЙ ИНТЕРНЕТ-МАГАЗИН</h2>
                <p class="mt-3">Меня зовут Андрей. В марте 2017 года я создал бренд Консоль. Я занимаюсь столярным делом. Здесь вы найдёте красивые плоды деятельности мастера для вашего любимого и уютного дома. Это будет качественно. Это будет дорого. Это будет стильно.</p>
                <p>Все изделия производятся вручную. У нас своя столярная мастерская со станками и инструментами, поэтому за качество наших изделий ручаемся на все 100%.</p>
                <p>Производим под заказ с учётом ваших пожеланий (в наличие изделий не бывает). Вы можете заказать как мои авторские изделия, так и сделать заказ, как в обычной столярке, на изготовление тех или иных изделий из дерева по вашим чертежам или фото (подробнее об этом на странице «Как заказать?»). Срок изготовления, возможность и стоимость доставки уточняйте у меня, используя контакты.</p>
              </div>
<!--              <div class="col-md-5">-->
<!--                <img class="card-img-top" src="https://dummyimage.com/500x500/dee2e6/6c757d.jpg" alt="..." />-->
<!--              </div>-->
            </div>
        </div>
    </div>


{% endblock %}
