{% extends 'furniture_app/base.html'%}

{% block header %}
        <header class="py-5 ">
<!--            <img src="media/main_images/index-image.jpg" alt="" class="background">-->
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-white">
                    <h1 class="display-4 fw-bolder">Консольная мебель</h1>
                    <h3 class="display-5 fw-bolder">в ваш дом</h3>
                        <div class="d-flex">
                            <a class='more-btn' href="{% url 'about' %}">
                                <p class="lead fw-normal text-50 mb-0">Узнать больше
                                    <i class="bi bi-caret-right-fill"></i>
                                </p>
                            </a>
                        </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5 mt-5">
        <h2>Наши проекты</h2>
        <div class="pt-3 row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
            {% for i in project_photo %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Item image-->
                        <img class="card-img-top" src="{{i.image.url}}" alt="..." />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg-dark">
        <div class="container px-3 px-lg mt-5">
            <div class="row featurette mt-5 bg-dark">
              <div class="col-md-7">
                <h2 class="featurette-heading">Подробнее о нас<span class="text-muted">Чем мы занимаемся </span></h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id sagittis ligula. Ut nec est egestas, imperdiet sem et, hendrerit nunc. In hac habitasse platea dictumst. Nulla interdum magna id eros commodo, in venenatis purus egestas. Vestibulum enim augue, vehicula nec mi eget, efficitur imperdiet magna. Cras venenatis ipsum quis nisl efficitur aliquam. Ut ac quam eu risus vehicula convallis. Quisque vitae posuere lorem.
    Sed dignissim tempus erat, vel imperdiet nisl finibus et. Curabitur blandit commodo orci at tempor. Maecenas fringilla venenatis posuere. Nam suscipit orci at neque euismod, vel aliquet lectus sollicitudin. Nulla sed neque iaculis, ultrices dolor sit amet, congue nulla. Fusce molestie lacus sit amet semper ultrices. </p>
              </div>
              <div class="col-md-5">
                <img class="card-img-top" src="https://dummyimage.com/500x500/dee2e6/6c757d.jpg" alt="..." />
              </div>
            </div>
        </div>
    </div>


{% endblock %}
