{% extends 'furniture_app/base.html'%}

{% block content %}
     <div class="container px-4 mt-5">
        <h2>{{ product.title }}</h2>
      <div class="row gx-5 mt-3">
          <div class="col mb-5">
                <div class="card h-100">
                    <!-- Item image-->
                        {% for product_image in products_images %}
                            <img class="card-img-top" src="{{product_image.image.url}}" alt="..." />
                        {% endfor %}
                </div>
            </div>
        <div class="col">
         <div class="p-3 bg-light">
             <p>Nulla interdum magna id eros commodo, in venenatis purus egestas. Vestibulum enim augue, vehicula nec mi eget, efficitur imperdiet magna. Cras venenatis ipsum quis nisl efficitur aliquam. Ut ac quam eu risus vehicula convallis. Quisque vitae posuere lorem.
Sed dignissim tempus erat, vel imperdiet nisl finibus et. Curabitur blandit commodo orci at tempor. Maecenas fringilla venenatis posuere. Nam suscipit orci at neque euismod, vel aliquet lectus sollicitudin. Nulla sed neque iaculis, ultrices dolor sit amet, congue nulla. Fusce molestie lacus sit amet semper ultrices. </p>
         </div>
        </div>
      </div>
    </div>
{% endblock %}